<div data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class ="eebsm_button_container" id="button_#id#" name="button_#id#" data-cmd_id="#id#" data-cmd_uid="#uid#" onclick="jeedom.cmd.execute({id: '#id#'});">
    <div class ="eebsm_button_subcontainer">
  		<div class ="button_title">#name#</div> 
    </div>
  </div>  
</div>
  
  
  <style type="text/css">
  
  :root {
  		--light_color: #dcdcdc;  		
    	--dark_color: #CD9C4F;
    	--active_color: #EEE1CD;
  	}
    
    .eebsm_button_container{
      margin-top:10px;
      width:80%;
      border:2px solid var(--light_color);
      border-radius: 19px;
      height:38px;
      background:none;
      padding:2px;
  	}
    
    .eebsm_button_subcontainer{
      height:30px;
      border:5px transparent;
      border-radius: 15px;      
      background:none;      
      line-height:30px;
      vertical-align: middle;
      cursor: pointer; 
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      font-size: 12px;
  	}
    
  	.button_title{
      font-weight: 500;
  	}
    
    .eebsm_button_subcontainer:hover{      
      font-size: 12px;
      -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      -o-transition: all 0.1s;
      transition: all 0.1s;
    }
    
    .eebsm_button_subcontainer:active {
    	background-color: var(--dark_color);
  		color: #FFFFFF;
      	font-size: 11px;
	}
</style>

<script type="text/javascript">  
   jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}]);  
</script>