

<div style="margin-bottom:5px" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class ="range_title">#name#:</div>  
  <div>
  	<div class ="eebsm_range_container">    
    	<div style="width:98%;">
			<input id="range_#id#" name="range_#id#" class="range_css" type="range" value="#state#" min="#minValue#" max="#maxValue#" oninput="RV_#id#.value=value" data-cmd_id="#id#" data-cmd_uid="#uid#" onchange="jeedom.cmd.execute({id: '#id#', value: {slider: this.value}});">
    	</div> 
  	</div>
    <output class ="range_output" id="RV_#id#">#state#</output>
  </div>  
</div>
    <!--<input style="cursor:n-resize;transform:rotate(-90deg) translate(-50%,0)" class="range_css" type="range">-->
<style type="text/css">
   :root {
  		--light_color: #dcdcdc;  		
    	--dark_color: #CD9C4F;
    	--active_color: #EEE1CD;
  	}
    .range_output{
      width:10%;
      position: relative;
      top: -31px; left: 38%;
      margin-bottom : -28px;
      font-size: 13px;
      font-weight: 500;
      color:2px solid var(--light_color);
  	}
  	.range_title{
      width : 95%;
      height : 25px;
      line-height : 25px;
      margin : auto;
      white-space: nowrap;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      
    }
  
    .eebsm_range_container{
      margin-left: -10%;
      width:70%;
      border:2px solid var(--light_color);
      border-radius: 15px;
      height:28px;
      background:none;
  	}
  
  	.range_css{
      	/*width:100px;*/
        -webkit-appearance: none;
  		cursor: pointer;      
  	}
  
  	/*****Chrome,Opera*****/
  
  	.range_css::-webkit-slider-runnable-track {
		height:0px;
      	
    }
    .range_css::-webkit-slider-thumb{
        -webkit-appearance:none;
      	border:none;
      	background: var(--light_color);
        width:21px;
        height:21px;
      	margin-top:2px;
        border-radius:50%;        
  	}

    
    /*****firefox*****/
    .range_css::-moz-range-thumb{
        appearance:none;
      	border:none;
      	background: var(--light_color);
        width:21px;
        height:21px;
      	margin-top:2px;
        border-radius:50%;    
  	}

    .range_css::-moz-range-track{
        height:0px;
  	}
 

  </style>

    
  
<script>
	
  jeedom.cmd.addUpdateFunction('#id#',function(_options) {
    var range_#id# = document.getElementById("range_#id#");
	range_#id#.value = _options.display_value;
    var output_#id# = document.getElementById("RV_#id#");
	output_#id#.value = _options.display_value;    
  });  
  
  jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}]);    

</script>