



<div style="margin-top:15px" data-version="#version#" data-eqLogic_id="#eqLogic_id#">   
  <div class ="eebsm_color_container">
    <span class ="color_title">#name#</span>
 	<div class ="eebsm_color_radius" >    
  		<input  value="#state#" class="eebsm_color_subcontainer" type="color" id="color_#id#" name="color_#id#" data-cmd_id="#id#" data-cmd_uid="#uid#" onchange="jeedom.cmd.execute({id:'#id#', value:{color:this.value}});"/>
  	</div>
  </div>   
</div>

<style type="text/css">
   :root {
  		--light_color: #dcdcdc;  		
    	--dark_color: #CD9C4F;
    	--active_color: #EEE1CD;
  	}
    
  	.eebsm_color_container{
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top:5px;
        width:80%;
        border:2px solid var(--light_color);
        border-radius: 20px;
        height:38px;
        line-height:32px;
        vertical-align: middle;
        background:none;
        padding:2px;
        text-align : right;      
  	}
  
    .eebsm_color_radius{
      	margin-left:5px
        width:66px;
        height:30px;
        border-radius:20px;
      	overflow:hidden;      		
  	}
  
  	.eebsm_color_subcontainer{
        border:0;
        padding:0;
        width:200%;
        height:200%;
        cursor:pointer;
        transform:translate(-25%, -25%)
  	}
    
  	.color_title{
        font-size: 14px;
        width:60%;
        font-weight: 500;
  	}
  
</style>

<script>
     
    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
    	var color_#id# = document.getElementById("color_#id#");
        color_#id#.value = _options.display_value;           
    });
    jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
</script>