




<div style="margin-top:5px" class="cmd cmd-widget" data-type="action" data-subtype="color" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#"  data-cmd_id="#id#" data-cmd_uid="#uid#">
  	<div data-version="#version#" data-eqLogic_id="#eqLogic_id#">  
  <span class ="color_title">#name#</span>
      <div class ="eebsm_color_container">
      <div class ="eebsm_color_radius" >  
	<input type="color" class="action_colorpicker_change cursor" data-mini="true">
        </div>
        </div>
      </div>
	<script>
		 jeedom.cmd.addUpdateFunction('#id#',function(_options) {
			$('.cmd[data-cmd_uid=#uid#]:last .action_colorpicker_change').off('change')
			$('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').value((_options.display_value != '') ? _options.display_value.substr(0,7) : _options.display_value)
			$('.cmd[data-cmd_uid=#uid#]:last .action_colorpicker_change').on('change', function() {
				jeedom.cmd.execute({id: '#id#', value: {color: $(this).value()}})
			});
		});
		jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
	</script>
</div>

<style type="text/css">
   :root {
  		--light_color: #dcdcdc;  		
    	--dark_color: #CD9C4F;
    	--active_color: #EEE1CD;
  	}
    
  	.eebsm_color_container{
        
        
        width:90%;
        border:2px solid var(--light_color);
        border-radius: 20px;
        height:30px;
        vertical-align: middle;
        background:none;
        padding:2px;
        text-align : right;      
  	}
  
    .eebsm_color_radius{
      	margin-left:5px
        width:66px;
        height:30px;
        border-radius:20px;
      	overflow:hidden;      		
  	}
  
  	.eebsm_color_subcontainer{
        border:0;
        padding:0;
        width:200%;
        height:200%;
        cursor:pointer;
        transform:translate(-25%, -25%)
  	}
    
  	.color_title{
        font-size: 14px;
        width:60%;
        font-weight: 500;
  	}
  
</style>

<script>
     
    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
    	var color_#id# = document.getElementById("color_#id#");
        color_#id#.value = _options.display_value;           
    });
    jeedom.cmd.refreshValue([{cmd_id :'#id#',display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
</script>